.requiredfield
{
    color:red;

  }

.statecorporation{
  width: 397px !important;
  height: 28px;
}
.wouldla{
  width: 311px !important;
  height: 28px;
}
.social{
  width: 130px !important;
  height: 28px;
 }

.switch {
  position: relative;
  display: inline-block;
  width: 41px;
  height: 17px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 14px;
  left: -1px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


.validation{
  border: 1px solid red;
}

input[type=button] {
  padding: 4px 27px;
  background: #1593E4;
  border: 0 none;
  /* cursor: pointer;
  -webkit-border-radius: 5px; */
  border-radius: 100px;
  font-size: 12px !important;
}
.Generaldiv{
    border: 1px solid black !important;
    width: 95%;
    padding-top: 7px;
    padding-bottom: 5px;
  }

  .first{
    width: 200px !important;
    height: 28px;
   }

   .lastname{
    width: 200px !important;
    height: 28px;
   }

   .Legalbusiness{
    width: 300px !important;
    height: 28px;
  }
  .tradename{
    width: 243px !important;
    height: 28px;
}
.Physicaladdress{
    width: 311px !important;
    height: 28px;
  }
  .State{
    width: 170px !important;
    height: 28px;
  }
  .city{
    width: 225px !important;
    height: 28px;
  }
  .zip{
    width: 130px !important;
    height: 28px;
  }
  .Physicaladdress{
    width: 311px !important;
    height: 28px;
  }
  .County{
    width: 225px !important;
   height: 28px;
  }
  .Country{
    width: 243px !important;
    height: 28px;
  }
  .btndiv{
    padding-right: 62px; 
    text-align: right;
    padding-top: 0px;
}
.jobtitle{
  width: 200px !important;
  height: 28px;
}
.employeeid{
  width: 170px !important;
  height: 28px;
}
.startdate{
  width: 100px;
  height: 28px;
}
.phoneno{
  width: 117px;
  height: 28px;
}