<div class="container">

 

    <form [formGroup]="registercontactinformation">
    <p class="mainheading Vendortitle" style="text-align: center;margin-top: 40px;">Registration Form</p>
 <div style="padding-left: 115px;">
    <div style=" border: 1px solid yellow;background-color: #ffff00ba;width: 825px;align-items: center !important;">

        <p style="font-size: 15px;
        margin-top: 6px;
        margin-bottom: 6px;
        padding-left: 29px;">User Id- must be between 8 to 20 characters in length.Must include upper and lower case letters and numbers 0-9</p>
    </div></div>
    <br>
    <!-- <p style="color: red;border: none !important;" id="socialErr"></p> -->

        <p class="mainheading heading">Contact Information</p>
    
    <div class="row Generaldiv">
      <div class="col-sm-6 innerlinefont" >  
    
        <div class="labelheight">
            <label class="labelwidth">First Name <span class="requiredfield ">  *</span> </label>    
            <input type="text"  class="first" formControlName="FirstName" id="firstname_id" (keypress)="inputErrorMessage('firstname_id');alpha($event)">
        </div>
     
    
            <div class="labelheight">
                <label class="labelwidth">Last Name <span class="requiredfield ">  *</span> </label>
            <input type="text" class="lastname"  formControlName="LastName" id="lastname_id" (keypress)="inputErrorMessage('lastname_id');alpha($event)">
            </div>
        
    
          <div class="labelheight">
                <label class="labelwidth">User Type</label>
                  <select class="Country"  formControlName="UserTypeId" id="usertype_id" (change)="inputErrorMessage('usertype_id');vendordetails_display()">
                    <option value="value"></option>
                    <option *ngFor="let userlist of usertypedata" [value]="userlist.UserTypeId">
                        {{userlist.UserTypeDesc}}</option>
                      
                       <!-- <option value="vendor">Vendor</option>
                       <option value="employee">Employee</option>
                       <option value="other">Other</option> -->
                   </select> 
             </div> 

            <div class="labelheight">
                <label class="labelwidth">User Id<span class="requiredfield ">  *</span> </label>
                <input type="text" class="tradename" formControlName="UserId" id="userkey" (keypress)="inputErrorMessage('userkey');alphanumeric($event)">
            </div>

            <div class="labelheight">
                <label class="labelwidth">Password<span class="requiredfield ">  *</span> </label>
                <input type="text" class="tradename" formControlName="UserPassword" id="userpswd_id" (keypress)="inputErrorMessage('userpswd_id')">
            </div>

            <div class="labelheight">
                <label class="labelwidth">Confirm Password<span class="requiredfield ">  *</span> </label>
                <input type="text" class="tradename" formControlName="conformpassword" id="comformpswd_id" (keypress)="inputErrorMessage('comformpswd_id')">
            </div>  
          
     </div>
    
    
      <div class="col-sm-6 innerlinefont">

         <div class="labelheight">
            <label class="labelwidth">Address<span class="requiredfield ">  *</span> </label>
            <input type="text" class="Physicaladdress"  formControlName="Address1" id="currentadd_id" (keypress)="inputErrorMessage('currentadd_id')">
            </div>

             <div class="labelheight">
                <label class="labelwidth">Address Line2</label>
                <input type="text" class="Physicaladdress" formControlName="Address2"  id="currentsecadd_id" (keypress)="inputErrorMessage('currentsecadd_id')">
                </div>

            

                   <div class="labelheight">
                    <label class="labelwidth">City<span class="requiredfield ">  *</span> </label>
                    <select class="city"  formControlName="CityId"  id="currentcity_id"
                    (change)="inputErrorMessage('currentcity_id');onchangezip()">

                          <option value="value"></option>
                             <option *ngFor="let citylist of citydetail" value="{{citylist.CityId}}">
                               {{citylist.CityName}}</option>
                          </select>      
                           </div>

                    <div class="labelheight">
                    <label class="labelwidth">Zip Code<span class="requiredfield ">  *</span> </label>
                    <select class="zip" formControlName="Zipcode" id="regcurrentzip_id"
                    (change)="inputErrorMessage('regcurrentzip_id')" >

                          <option value="value"></option>
                             <option *ngFor="let ziplist of zipcodedetail" >
                               {{ziplist.Zipcode}}</option>
                          </select>
                </div>

                <div class="labelheight">
                    <label class="labelwidth">State/Province<span class="requiredfield "> *</span> </label>
                     <select class="State"  formControlName="StateId" id="curstate_id"
                      (change)="inputErrorMessage('curstate_id')" ; >
                    
        
                      <option value=""></option>
                      <option *ngFor="let statelist of statedetail" value="{{statelist.StateId}}">
                        {{statelist.StateName}}</option>
                       </select> 
                           </div>
        
                     <div class="labelheight">
                        <label class="labelwidth">County<span class="requiredfield ">  *</span> </label>
                        <select type="text"  class="County" formControlName="county_name" id="county_id" (change)="inputErrorMessage('county_id')">
                            <option ></option>
                            <option value="1">Fairfax</option>
                        </select>

                        </div>
                      
        
                        <div class="labelheight">
                            <label class="labelwidth">Country<span class="requiredfield ">  *</span> </label>
                            <select class="Country"  formControlName="CountryId" id="country_id" (change)="inputErrorMessage('country_id')">
                             <option value="value"></option>
                             <option *ngFor="let countrylist of countrydetail" [value]="countrylist.CountryId">
                                {{countrylist.CountryName}}</option>
                            </select> 
                        </div> 

                        
     
    
              
      </div>
    </div>
<br>


<!-- vendor type -->

<div id="vendordetails" style="display: none;">
<div class="row" style="padding-bottom: 8px;">
  

    <div class="col-sm-5 innerlinefont vendortypelabel usernamediv">
        <label class="labelwidth">Vendor Type</label> 
         <label >Individual</label>
         &nbsp;&nbsp;
        <label class="switch">
        <input class="" type="checkbox"  id="active"  (change)="vendortype_display('active')" formControlName="VendorTypeId">
        <span class="slider round"></span>
        </label>&nbsp;&nbsp;
        <label >Business</label>  
      
    </div>
</div>

<!-- vendor individual start -->

<div id="vendorindividual">
<div class="row Generaldiv">
  
    <div class="col-sm-6 innerlinefont">
        <div class="labelheight">
            <label class="labelwidth">Social Security Number<span class="requiredfield ">  *</span> </label>
            <input type="text" class="social" formControlName="EIN_SSN" id="socialno_id" (keypress)="inputErrorMessage('socialno_id')">
        </div>
    </div>
    <div class="col-sm-6 innerlinefont">
        <div class="labelheight">
            <label class="wouldla">Would you like to receive outreach emails from us ?</label>
            <!-- <label style="width:10px;"></label> -->
                            <label class="switch">
                            <input  type="checkbox" name="outreach_active" id="outreach_activeid" formControlName="OutreachEmailOptIn" checked>
                            <span class="slider round"></span>
                            </label></div>
    </div>

</div>
</div>
<!-- vendor type end -->

<!-- vendor Business start -->

<div id="vendorbusiness" style="display: none;">
<div class="row Generaldiv">
   <div class="col-sm-6 innerlinefont">
        <div class="labelheight">
            <label class="labelwidth">Business Size<span class="requiredfield ">  *</span> </label>
            <input  type="text" class="Country" formControlName="BusinessSize" id="business_id"  (change)="inputErrorMessage('business_id');number($event)">
        </div>
        <div class="labelheight">
            <label class="wouldla">Is this Business Registered with this County/State ?</label>
            <!-- <label style="width:10px;"></label> -->
            <label class="switch">
            <input  type="checkbox" name="state_active" id="state_activeid" checked>
            <span class="slider round"></span>
            </label></div>

        <div class="">
        <label class="wouldla">Is this Business a Franchisee ? </label>
        <label class="switch">
        <input  type="checkbox" name="franchisee_active" id="franchisee_activeid" checked>
        <span class="slider round"></span>
        </label></div>

      </div>

        <div class="col-sm-6 innerlinefont">
        <div class="labelheight">
            <label class="labelwidth">BE Classification ID<span class="requiredfield ">  *</span> </label>
            <select class="Country" formControlName="BEClassificationId" id="be_classificationid" (change)="inputErrorMessage('be_classificationid')" >
                <option value="value"></option>
                <option *ngFor="let beclassificationlist of beclassificationdetail" [value]="beclassificationlist.BEClassificationId">
                    {{beclassificationlist.BEClassificationDesc}}</option>
             </select> 
        </div>

        <div>
            <label class="statecorporation">Is this Business registered with this State Corporation Commission ? </label>
            <label class="switch">
                            <input  type="checkbox" name="statecoms_active" id="statecms_activeid" checked>
                            <span class="slider round"></span>
                            </label></div>
    </div>

</div>
</div>
</div>
<!-- </form>  -->
<!-- vendor business end -->

  <!-- Employee information start -->
  <div id="employeeinfo" style="display: none;">
    <p class="mainheading heading">Employee Information</p>
    <p style="color: red;border: none !important;" id="phoneErr"></p>
    <!-- <form [formGroup]="employeeinformation"> -->
        <div class="row Generaldiv">
            <div class="col-sm-6 innerlinefont">
                <div class="labelheight">
                    <label class="labelwidth">Job Title <span class="requiredfield "> *</span> </label>
                    <select formControlName="JobTitleId" class="jobtitle" id="job_title" (change)="inputErrorMessage('job_title')">
                        <option value="value"></option>
                        <option *ngFor="let jobtitle of jobdetail" [value]="jobtitle.JobTitleId">
                            {{jobtitle.JobTitleDesc}}</option>
                    </select>
                </div>
                <div class="labelheight">
                    <label class="labelwidth">Employment Type <span class="requiredfield "> *</span> </label>
                    <select formControlName="EmploymentTypeId" class="employeeid" id="employee_id"
                        (change)="inputErrorMessage('employee_id');">
                        <option value="value"></option>
                        <option *ngFor="let employeetype of employeedetail" [value]="employeetype.EmploymentTypeId">
                            {{employeetype.EmploymentTypeDesc}}</option>
                    </select>
                </div>
               
                <div class="labelheight">
                    <label class="labelwidth">Start Date<span class="requiredfield "> *</span> </label>
                    <input type="date" class="startdate" formControlName="StartDate" id="startdate_id"
                        (change)="inputErrorMessage('startdate_id')">
                </div>
            </div>
            <div class="col-sm-6 innerlinefont">
                <div class="labelheight">
                    <label class="labelwidth">Phone Number <span class="requiredfield "> *</span> </label>
                    <input type="text" class="phoneno" formControlName="Phone" id="phoneno_id"
                        (keypress)="inputErrorMessage('phoneno_id'); number($event)">
                </div>
                <div>
                    <div class="labelheight">
                        <label class="labelwidth">Is Admin User <span class="requiredfield "> *</span> </label>
                        <label class="switch">
                            <input class="" type="checkbox" id="admin_activeid" >
                            <span class="slider round"></span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
   
</div>
<!-- Employee information end -->
</form>

<div class="btndiv">
         <input type="button"  class="btn btn-primary fixedwidthcls" value="Cancel" />
         &nbsp;&nbsp;
              <input type="button"   class="btn btn-primary fixedwidthcls" (click)="validation(registercontactinformation.value)"  value="Save " />  
           </div><br>

               
    </div>
<!-- </form> -->
