.dataTables_wrapper .dataTables_filter input {
    border: 1px solid #aaa;
    border-radius: 3px;
    padding: 5px;
    background-color: transparent;
    margin-left: 3px;
    margin-bottom: 10px !important;
    height: 20px !important;
}
table{
    margin-top: 20px !important;
}
.dataTables_wrapper .dataTables_filter input {
    border: 1px solid #aaa;
    border-radius: 3px;
    /* padding: 5px; */
    /* background-color: transparent; */
    margin-left: 3px !important;
    height: 25px !important;
}


